{% extends "layout.html" %}
{% block content %}
<form action="/pictures" method = 'post'>
<style>
  h1 {
  color: rgb(247 237 168);
  text-align: center;
  font-size: 2.5rem;
  }
  h3 {
  color: #f3f1d6;
  font-family: 'Prompt', sans-serif;
  font-size: 1.5rem; 
  }
  p {
  color:rgb(145 247 186); 
  height:100;
  text-align: center;
  font-size: 1.75rem;
}
  </style>
<h1 class='important-paragraph'>What do Poison Ivy and Poison Oak look like?</h1>
<div>
  <h2 class='explanation-paragraph'>The purpose of this app is to make YOU familiar with what poison ivy and poison oak look like.</h2>  
  <h3 class='important-points'>  1) Put in your region and the season and I'll show you what to look for! </h3>
  <h3 class='important-points'>  2) Take a pic of a suspicious plant using your new knowledge </h3>
  <h3 class='important-points'> 3) Head over to the <a href="/uploader">Upload</a> page and upload your picture, I'll tell you whether the plant is poison ivy, poison oak or benign!</h3>
</div>
<p>
  <label for='region_id'>Region You're In: </label>
  <select name='region' id='region_id'>
    {% for each in region_options %}
      <option value="{{each}}">{{each}}</option>
    {% endfor %}
  </select>
</p>

<p>
    <label for='season_id'> What Season is it?: </label>
    <select name='season' id='season_id'>
      {% for each in season_options %}
        <option value="{{each}}">{{each}}</option>
      {% endfor %}
    </select>
  </p>
  <p>
    <input class="reset-button" type='submit' value='Submit'/>
  </p>
</form>
{% endblock content %}