{% extends "layout.html" %}

{% block title %}Upload{% endblock %}

{% block content %}
<style>
  h1 {
  color: #f0f4a8;
  text-align: center;
  font-size: 2.25rem;
}
h2 {
  color: #f9e2b3;
  text-align: center;
  font-size: 1.75rem;
}
  p {
  color:white; 
  height:80;
  text-align: center;
  }
  </style>
<div>
  <h1 class='explanation-paragrah'>You can upload a picture of a plant and I'll let you know if it's poison ivy or poison oak.</h1>
</div>

<div class = 'content-section'>

  <form action="/uploader" method="POST" enctype="multipart/form-data">
  <h1>Upload an image</h1>
  <hr>

          <input class="btn btn-lg" type=file name=file>
          <input class="btn-default btn-lg" type=submit value=Upload>

  </form>

</div>
<div>
  <h2 class='explanation-paragrah'>This doesn't work for pictures of plants with no leaves.</h2>
</div>
 -->
{% endblock content%}