{% extends "layout.html" %}

{% block title %}Upload{% endblock %}

{% block content %}
<style>
  h1 {
  color: #193521;
  text-align: center;
  font-size: 2.25rem;
}
  p {
  color:white; 
  height:80;
  text-align: center;
  }
  </style>
<div class = 'content-section'>

  <form action="/uploader" method="POST" enctype="multipart/form-data">
  <h1>Upload an image</h1>
  <hr>



     <!-- <div class="form-group">
      <label>Select image</label>
      <div class="custom-file">
        <input type="file" class="custom-file-input" name="file" id="file">
        <label class="custom-file-label" for="file">Submit image...</label>
      </div> -->
          <input class="btn btn-lg" type=file name=file>
          <input class="btn-default btn-lg" type=submit value=Upload>
    <!-- <input type="submit" class="btn btn-primary" value=Upload>

  </form>

</div>

{% endblock content%}